body,
html,
#root {
  height: 100%;
}

@keyframes yScaleIn {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.y-scale-in {
  animation: yScaleIn 0.4s ease-out;
}

@keyframes fadeUpIn {
  0% {
    opacity: 0;
    transform: translateY(3em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up-in {
  animation: fadeUpIn 0.4s ease-out;
}
@keyframes fadeUpSmIn {
  0% {
    opacity: 0;
    transform: translateY(0.6em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up-sm-in {
  animation: fadeUpSmIn 0.4s ease-out;
}

.html-histogram__thumb {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.html-histogram:focus-within .html-histogram__thumb,
.html-histogram:hover .html-histogram__thumb {
  opacity: 1;
}
.html-histogram:not(:hover):not(:focus-within) .html-histogram__range--base {
  transform: scaleY(
    0.3
  ) !important; /* please forgive me! react-range made me do it */
  transition: all 0.3s ease-out;
}
.html-histogram__numbers {
  transition: transform 0.3s ease-out;
}
.html-histogram__numbers {
  transform: translateY(-0.8em);
}
.html-histogram:focus-within .html-histogram__numbers,
.html-histogram:hover .html-histogram__numbers {
  transform: none;
}

.cell a {
  /* @apply text-indigo-500; */
  text-decoration: underline;
}

.cell:hover {
  /* to get around an inline style */
  z-index: 50 !important;
}

.cell:hover .cell__long-value {
  pointer-events: all;
}

.header__title {
  right: 0;
  min-width: 100%;
  z-index: 50;
}

.header:not(:hover) .header__title {
  box-shadow: none;
}
.header:hover .header__title {
  right: auto;
}
.header__pin {
  opacity: 0;
}

.header:hover .header__pin {
  opacity: 1;
}

.sticky-grid__header:hover {
  z-index: 150 !important;
}
.sticky-grid__header:focus-within {
  z-index: 160 !important;
}

@media (max-width: 700px) {
  .pin {
    display: none;
  }
}
